<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="public/img/WBClogo.jpg">
</head>
<body>
    <!--header-->
    <header>
        <div>
            <h1>Noticias del mundo del boxeo</h1>
            <p>Todas las noticias del mundo del boxeo las puedes encontrar aqui.</p>
        </div>
    </header>
    <!--navbar-->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="noticias.html">Noticias</a>
        <a href="peleas.html">Peleas</a>
        <a href="formulario.html">Registro</a>
    </nav>
    <!--formulario-->
    <form action="">
        <fieldset>
            <legend>Formulario del registro</legend>
            <label for="Nombre">Nombre</label>
            <input type="text" name="name" id="Nombre">
            <label for="Apellido">Apellido</label>
            <input type="text" name="name" id="Apellido">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="Contraseña" id="contraseña">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" name="date" id="fecha">
            <input type="submit" value="REGISTRARSE">
            <input type="reset" value="BORRAR">
        </fieldset>
    </form>
    <!--footer-->
    <footer>
        <p>&copy;Franco Arias Coronel, Potrero Digital.</p>
    </footer>
</body>
</html>