<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="public/img/WBClogo.jpg">
</head>
<body>
    <!--header-->
    <header>
        <div>
            <h1>Noticias del mundo del boxeo</h1>
            <p>Todas las noticias del mundo del boxeo las puedes encontrar aqui.</p>
        </div>
    </header>
    <!--navbar-->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="public/views/noticias.html">Noticias</a>
        <a href="peleas.html">Peleas</a>
        <a href="formulario.html">Registro</a>
    </nav>
    <!--parte principal-->
    <div class="principal">
        <main class="noticias2">
            <article>
                <h2>El legendario nocaut de Sergio "Maravilla" Martinez a Paul Williams.</h2>
                <h5>Franco Arias Coronel 28/11/23</h5>
                <img src="../img/maravilla-martinez-paul-williams_862x485.jpg" alt="No se pudo cargar la imágen.">
                <p>El quilmeño impactó a todos con la espectacular definición, en el Boardwalk Hall de Atlantic City, en lo que fue la defensa de su título mundial mediano del CMB. 
                "Ese nocaut lo estudié desde el 5 de diciembre anterior hasta el 20 de noviembre. Desde el 5 de diciembre del 2009 que combatí con Williams y perdí –me ganó él la primera pelea, fue pareja, pero ganó él– hasta el día de la revancha lo estudié incansablemente", explicó en una oportunidad en Infobae.</p>
                <a href="https://www.tycsports.com/boxeo/maravilla-martinez-paul-williams-ii-a-diez-anos-de-un-nocaut-inolvidable-id303891.html" class="readmore" target="_blank">Seguir leyendo la noticia completa.</a>
                <h2>Mike Tyson analiza Fury-Usyk y el futuro de Ngannou.</h2>
                <h5>Franco Arias Coronel 28/11/23</h5>
                <img src="../img/miketysonanaliza.jpg" alt="No se pudo cargar la imágen.">
                <p>Mike Tyson paralizó el último día de actividades de la convención 61 del Consejo Mundial de Boxeo, y no sólo celebró el ranking en las clasificaciones de Fracis Ngannou, sino que apuntó también a que Tyson Fury doblegará a Oleksandr Usyk el próximo mes de febrero en una esperada batalla de unificación por todos los campeonatos de peso Pesado. ‘Iron’ Mike Tyson reveló que el plan de Francis Ngannou es ser campeón de boxeo y de artes marciales mixtas al mismo tiempo, aunque él prefiere verle por ahora en el mundo de pugilismo tras su estupendo debut ante el campeón del Consejo Mundial de Boxeo, Tyson Fury.</p>
                <a href="https://www.espn.com.mx/boxeo/nota/_/id/12876343/mike-tyson-fury-tyson-futuro-ngannou-boxeo" class="readmore" target="_blank">Seguir leyendo la noticia completa.</a>
                <h2>'Vaquero' Navarrete retiene título superpluma OMB tras empatar con Robson Conceicao.</h2>
                <h5>Franco Arias Coronel 28/11/23</h5>
                <img src="../img/NOTICIA3.jpg" alt="No se pudo cargar la imágen.">
                <p>El campeón superpluma de la OMB, Emanuel Navarrete, derribó dos veces al retador Robson Conceicao, pero no pasó de un empate mayoritario.Navarrete (38-1, 31 KO's) tumbó a Conceicao en el cuarto asalto y nuevamente en el séptimo. Estuvo a punto de detener al retador en el penúltimo round cuando el árbitro se acercó cada vez más a la acción, pero Conceicao nunca decayó.</p>
                <a href="https://www.espn.com.mx/boxeo/nota/_/id/12880069/resultado-vaquero-navarrete-retiene-titulo-superpluma-omb-empate-conceicao" class="readmore" target="_blank">Seguir leyendo la noticia completa.</a>
                <h2>David Benavidez arrolla a Demetrius Andrade y clama por Canelo.</h2>
                <h5>Franco Arias Coronel 28/11/23</h5>
                <img src="../img/NOTICIA4.jpg" alt="No se pudo cargar la imágen.">
                <p>David Benavidez pasó como un ciclón por encima de Demetrius Andrade hasta obligarlo a tirar la toalla al finalizar el sexto asalto para retener su título interino supermediano del Consejo Mundial de Boxeo (CMB) y mantenerse como el retador obligatorio de Canelo Álvarez.
                En la Michelob Ultra Arena, ubicada en el Mandalay Bay Resort & Casino de Las Vegas, 'El Monstruo' mejoró su récord a 28-0-0, 24 KO's y destrozó la autoestima y el invicto de 'BooBoo' Andrade (32-1-0, 19 KO's), que buscaba un título en una tercera división de peso.</p>
                <a href="https://www.espn.com.mx/boxeo/nota/_/id/12916027/resultados-david-benavidez-demetrius-andrade-supermediano" class="readmore" target="_blank">Seguir leyendo la noticia completa.</a>
            </article>
            <a href="" class="seemore">Ver más noticias sobre el mundo del boxeo.</a>
        </main>
    </div>
    <!--footer-->
    <footer>
        <p>&copy;Franco Arias Coronel, Potrero Digital.</p>
    </footer>
</body>
</html>